html, main, body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab', serif;
}

header {
    width: 100%;
    font-size: 3rem;
    padding:0.5rem;
    display:flex;
    justify-content: center;
    color: white;
    background-color:#4F0D09;
    font-family: 'Roboto', sans-serif;  
}

a, ul, li{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
}

.config{
    margin:5%;
}

ul{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

h2, h3 {
    display:flex;
    justify-content: center;
    text-align: center;
    margin: 1%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    font-size: 2rem;
    color: black;
}

form, input{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    font-size:1.3rem;
}

.btns{
    border:none;
    color:#ffffff;
    background-color: #CC1C10;
    padding: 1.25rem;
    margin: 0.625rem;
    font-size: 1.8rem;
    line-height:1.5rem;
    border-radius: 0.625rem;
    box-sizing: border-box;
    max-width: 90%;
    width: 80%;
    display:flex;
    justify-content:center;
}

.btns2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.btns3{
    border:none;
    color:#ffffff;
    background-color: #CC1C10;
    padding: 1.25rem;
    margin: 0.625rem;
    font-size: 1.8rem;
    line-height:1.5rem;
    border-radius: 0.625rem;
    box-sizing: border-box;
    max-width: 100%;
    width: 40%;
}

button{
    border:none;
    color:#ffffff;
    background-color: #CC1C10;
    font-size: 1.8rem;
    display:flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.musicas{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-evenly;
}

.musica{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-evenly;
}

img{
    width:2.5rem;
    height:2.5rem;
    margin-right: 0.25rem;
}

.dog{
    width: 15rem;
    height:18rem;
}



